.home-sections-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-inline: auto;
  max-width: 1000px;
  padding: 16px;
}


.section {
  border-radius: 16px;
  padding: 16px;
  background-color: white;
}

.profiles-list-section {
  width: 70%;
}


.profile-section {
  width: 30%;
}




/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 700px) {

  .profiles-list-section {
    width: 100%;
  }

  .profile-section {
    display: none;
  }


}
