.navbar-container {
  background-color: white;
  height: fit-content;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  max-width: 1000px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}


